<div class="screen">
  <h1>{{ title }}</h1>
  <a [routerLink]="['/customers']">Go to customers</a>
  <br />
  <br />
  <button (click)="toggleModal()">+ add product</button>
  <div *ngIf="openModal()">
    <app-product-modal
      [isEdit]="false"
      [products]="products"
      (closeModalAfterSubmit)="closeModal($event)"
    ></app-product-modal>
  </div>
  <br />
  <br />
  <div>
    <div class="products-table">
      <div class="product-card" *ngFor="let product of products">
        <a [routerLink]="['/products', product.id]">
          <div class="product-content">
            <div *ngIf="product.thumbnail">
              <img src="{{ product.thumbnail }}" alt="product" />
            </div>
            <div class="product-body">
              <h2>{{ product.title }}</h2>
              <p>
                {{ product.description }}
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
